@import url('https://fonts.googleapis.com/css?family=Sanchez');


body
{
  background-color: white;
}

.titlecontain
{
  margin: auto;
}

.titlecontain h1
{
  text-align: center;
  font-family: 'Sanchez', serif;
}

.ido
{
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-family: 'Sanchez', serif;
  font-size: 20px;
}

.hire
{
  width: 150px;
  height: 30px;
  line-height: 30px;
  background-color: #9baac4;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.hire:active, .hire:focus
{
  background-color: #afbbcf;
}

#hirem
{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  z-index: 4;
}

.xit
{
  display: block;
  top:0;
  left:0;
  position:absolute;
  text-align: center;
  color: white;
  font-size: 25px;
  width: 35px;
  height: 35px;
  Border: solid 2px white;
  z-index: 4;
}

.xit:active, .submitb1:focus
{
  background-color: #d7dbe0;
}

#hireinner
{
  display: block;
  position:absolute;
  margin: auto;
  padding-top: 30px;
  width: 100%;
  height: 440px;
  background-color: #b8babc;
}

#toggle5:checked + #hirem
{
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;

}


.submitb1
{
  margin-top: 5px;
  text-align: center;
  font-family: 'Sanchez', serif;
  padding: 10px;
  border: none;
  text-decoration: none;
  background-color: #9baac4;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.submitb1:active, .submitb1:focus
{
  background-color: #afbbcf;
}

.formsent
{
  margin-top: 10px;
  text-align:center;
  padding: 10px;
  background-color: #6C7689;
  color: #fff;
  font-family: 'Sanchez', serif;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in 2000ms;
}


.navbody
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  text-align:center;
}

.navbox
{
  margin-top: 3px;
  width: 100%;
  height: 40px;
  font-family: 'Sanchez', serif;
  font-size: 1.4em;
  background-color: #9baac4;
  color: white;
  line-height:40px;
  cursor: pointer;
}

.sklist div
{
  margin-top:8px;
  padding-bottom: 10px;
}

.navbox:active, .navbox:focus
{
  background-color: #afbbcf;
}

label {
  cursor: pointer;
}

.toggler
{
  display: none;
}

#menu {
	display: none;
  opacity: 0;
  visibility: hidden;
  margin: auto;
  height: 0px;
  width: 0px;
  font-family: 'Sanchez', serif;
  overflow: hidden;
  cursor: default;
}


#toggle1:checked + #navbox + #menu
{
	display: block;
  visibility: visible;
  opacity: 1;
  height: 850px;
  width: 100%;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

#toggle2:checked + #navbox + #menu 
{
	display: block;
  visibility: visible;
  opacity: 1;
  height: 100%;
  width:100%;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

#toggle3:checked + #navbox + #menu 
{
	display: block;
  visibility: visible;
  opacity: 1;
  height: 100%;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
  width:100%;
}

#toggle4:checked + #navbox + #menu 
{
	display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
  overflow: visible;
  width:100%;
  height: 100%;
}

.aboutcont
{
  text-align: left;
}


/*Portfolio Section */


.pexthumb
{
  display:inline-block;
  position: relative;
  width: 125px;
  height: 125px;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px rgba(1,1,1,.3)
}

.pexthumb:hover
{
  opacity: .7;
}

.pexthumb img
{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.pexthumb img.tport 
{
  width: 100%;
  height: auto;
}

.pexmen
{
  display: none;
  visibility: hidden;
  opacity: 0;
  position:fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.66);
  z-index: 1;
  text-align: center;
  overflow-y: auto;
}



.slidecon
{
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 40%;
  display: block;
  overflow: hidden;
  z-index: 2;
}

.slidecon1
{
  margin-top: 50px;
}


.original img
{
 width: 100%;
}

.modified
{
	display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.modified img
{
  width: 100%;
}

.exdesc
{
	position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(155, 170, 196,1);
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: 0px 1px 8px 0px rgba(1,1,1,.5);
}

.next, .prev{
  content:'';
  color: #fff;
  position: fixed;
  background: rgba(155, 170, 196, 1);
  z-index: 2;
  top: 0;
  margin-top: 55%;
  font-size: 2em;
  opacity: 1;
  user-select: none;
}

.next:hover, .prev:hover{
  cursor: pointer;
  opacity: .6;
}

.next
{
  right: 20px;
  padding: 10px 10px 15px 10px;
}

.prev 
{
  left: 20px;
  padding: 10px 10px 15px 10px;
}

#nexti:checked + .modified
{
	display: block;
  visibility: visible;
  opacity: 1;
}

#nexti2:checked + .modified
{
	display: block;
  visibility: visible;
  opacity: 1;
}


#nexti5:checked + .modified
{
	display: block;
  visibility: visible;
  opacity: 1;
}

#nexti6:checked + .modified
{
	display: block;
  visibility: visible;
  opacity: 1;
}




#pex1:checked + #pex1in
{
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}


#pex2:checked + #pex2in
{
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

#pex5:checked + #pex5in
{
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}


#pex6:checked + #pex6in
{
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

#pex7:checked + #pex7in
{
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

#pex8:checked + #pex8in
{
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}



@media screen and (orientation:landscape)
{
.next, .prev
{
	 margin-top: 25%;
}

.slidecon
{
	margin-top: 10%;
}

}
@media screen and (min-width: 768px)
{
  .titlecontain
  {
    margin: auto;
    margin-top: 50px;
  }
  .titlecontain h1
  {
    text-align: center;
    font-family: 'Sanchez', serif;
  }

  .ido
  {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: 'Sanchez', serif;
    font-size: 20px
  }

  .hire:hover
  {

    background-color: #53688D;
  }

  #hireinner
  {
    top: 10%;
    left:25%;
    width: 60%;

  }


  .navbody
  {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  .navbox
  {
    margin-top: 3px;
    width: 40px;
    height: 350px;
    font-family: 'Sanchez', serif;
    font-size: 1.2em;
    background-color: #9baac4;
    color: white;
    cursor: pointer;
    -ms-writing-mode: tb-rl; 
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    -moz-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
  }

  .navbox:hover
  {
    background-color: #53688D;
  }

  .navlab
  {
    vertical-align: top;
    display: inline-block;
  }


  #menu 
  {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    font-family: 'Sanchez', serif;
    width: 0px;
  }

  #toggle1:checked + #navbox
  {

    height: 40px;
    width: 350px;
    -ms-writing-mode: rl-tb;  
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
  }

  #toggle1:checked + #navbox + #menu
  {
    visibility: visible;
    opacity: 1;
    width: 350px;
    height: 310px;
    overflow-y:auto;
    -webkit-transition: opacity 1s, visibility 1s;
    -moz-transition: opacity 1s, visibility 1s;
    -o-transition: opacity 1s, visibility 1s;
    -ms-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s;

  }

  #toggle2:checked + #navbox
  {
    width: 350px;
    height: 40px;
    -ms-writing-mode: rl-tb;  
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
  }

  #toggle2:checked + #navbox + #menu 
  {

    visibility: visible;
    opacity: 1;
    width: 350px;
    height: 310px;
    overflow-y:auto;
    -webkit-transition: opacity 1s ease-in, visibility 1s ease-in;
    -moz-transition: opacity 1s ease-in, visibility 1s ease-in;
    -o-transition: opacity 1s ease-in, visibility 1s ease-in;
    -ms-transition: opacity 1s ease-in, visibility 1s ease-in;
    transition: opacity 1s ease-in, visibility 1s ease-in;

  }

  #toggle2:checked + #navbox + #menu ::-webkit-scrollbar-track 
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }


  #toggle3:checked + #navbox
  {
    width: 350px;
    height: 40px;
    -ms-writing-mode: rl-tb; 
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;

  }

  #toggle3:checked + #navbox + #menu 
  {
    visibility: visible;
    opacity: 1;
    width: 350px;
    height: 310px;
	overflow-y:auto;
    -webkit-transition: opacity 1s ease-in, visibility 1s ease-in;
    -moz-transition: opacity 1s ease-in, visibility 1s ease-in;
    -o-transition: opacity 1s ease-in, visibility 1s ease-in;
    -ms-transition: opacity 1s ease-in, visibility 1s ease-in;
    transition: opacity 1s ease-in, visibility 1s ease-in;
  }


  #toggle4:checked + #navbox
  {
    width: 350px;
    height: 40px;
    -ms-writing-mode: rl-tb; 
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
  }

  #toggle4:checked + #navbox + #menu 
  {
    visibility: visible;
    opacity: 1;
    width: 350px;
    height: 310px;
    -webkit-transition: opacity 1s, visibility 1s;
    -moz-transition: opacity 1s, visibility 1s;
    -o-transition: opacity 1s, visibility 1s;
    -ms-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s;
  }

  .slidecon
  {
	  width: 700px;
  }

}





